button {
	border-radius: 25px;
	width: auto;
	height: 40px;
	font-size: 1.3rem;
	color: rgb(236, 235, 235);
	font-weight: 700;
	background: rgb(34, 193, 195);
	background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
	border: 0px;
	cursor: pointer;
	transition: opacity 0.25s ease-out;
	padding: 10px;
}
